.advantages {
  .margin();
  padding-top: 30px;
  padding-bottom: 30px;
}
.advantages__title {
  .stylenone();
  .fonttitle();
}
.advantages__list {
  .stylenone();
}
.advantages__item {
  padding-top: 85px;
  .font (17px; 20px; 700)
}
