.button {
  text-transform: uppercase;
  .stylenone();
  .font (17px; 18px; 700);
  padding: 14px 0;
  width: 260px;
  box-sizing: border-box;
  text-align: center;
  border: 2px solid @blacklight;
  background-color: white;
  color: @blacklight;
}
