.color {
  padding-bottom: 32px;
}
.color__item {
  padding-top: 35px;
  padding-bottom: 8px;
  padding-left: 63px;
}

@media (min-width: @tablet-width) {
  .color__item {
    padding-top: 55px;
    width: 240px;
  }
}
