.comments {
  padding-top: 27px;
  padding-bottom: 45px;
}

.comments__title {
  .stylenone();
  .fonttitle();
  padding-bottom: 25px;
}

.comments__text {
  .stylenone();
  .font (15px; 30px; 400);
  padding-bottom: 23px;
  color: @blacklight;
}

.comments__autor {
  .stylenone();
  .font (17px; 30px; 700);
  color: @black;
}

.comments__email {
  .stylenone();
  .font (17px; 30px; 400);
  color: @blacklight;
}

.comments__button-wrapper {
  display: flex;
  margin-bottom: 37px;
  margin-top: 30px;
  border: 1px solid @grey;
}

.comments__prev,
.comments__next {
  flex-grow: 1;
  padding: 10px 0;
  background-color: white;
  border: none;
  width: 130px;
  box-sizing: border-box;
}

.comments__prev {
  border-right: 1px solid @grey;
}

@media (min-width: @tablet-width) {
  .comments {
    position: relative;
    padding-top: 78px;
    padding-bottom: 118px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    margin-left: -50px;
  }

  .comments__title {
    .font (43px; 50px; 700);
    padding-bottom: 49px;
    padding-left: 50px;
  }

  .comments__text {
    .font (17px; 30px; 400);
    padding-bottom: 53px;
    padding-left: 50px;
  }

  .comments__button {
    position: absolute;
    width: 175px;
    box-sizing: border-box;
    top: 80px;
    right: 0;
  }

  .comments__button-wrapper {
    padding-right: 17px;
    display: flex;
    margin: 0;
    border: none;
  }

  .comments__wrapper {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
  }

  .comments__prev,
  .comments__next {
    flex-grow: 0;
    padding: 0;
    border: none;
    width: 54px;
  }

  .comments__prev {
    margin-right: 35px;
  }
}

@media (min-width: @desktop-width) {
  .comments {
    padding-top: 70px;
    padding-bottom: 290px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    position: relative;
    margin-left: 0;
    padding-left: 175px;
  }

  .comments__title {
    .font (53px; 57px; 700);
    padding-left: 0;
    padding-bottom: 53px;
  }

  .comments__text {
    padding-bottom: 35px;
    padding-right: 90px;
    padding-left: 0;
  }

  .comments__button {
    position: absolute;
    width: 175px;
    box-sizing: border-box;
    top: 83px;
    right: 0;
  }

  .comments__wrapper {
    padding-left: 0;
    display: flex;
    justify-content: space-between;
  }
}
