.comments {
  .margin();
  padding-top: 30px;
  padding-bottom: 45px;
}

.comments__title {
  .stylenone();
  .fonttitle();
  padding-bottom: 30px;
}

.comments__text {
  .stylenone();
  .font (15px; 30px; 400);
  padding-bottom: 30px;
  color: @blacklight;
}

.comments__autor {
  .stylenone();
  .font (17px; 30px; 700);
  color: @black;
}

.comments__email {
  .stylenone();
  .font (17px; 30px; 400);
  color: @blacklight;
}

.comments__button-wrapper {
  display: flex;
  margin-bottom: 35px;
  margin-top: 35px;
  border: 1px solid @grey;
}

.comments__prev,
.comments__next {
  background-color: white;
  border: none;
  width: 50%;

}

.comments__prev {
  border-right: 1px solid @grey;
}

.comments__button {
  width: 100%;
}

@media (min-width: @tablet-width) {
  .comments {
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
  }
  .comments__title {
  .font (43px; 50px; 700);
  padding-bottom: 30px;
  }
  .comments__button {
    position: absolute;
    width: 30%;
    top: 30px;
    right: 0;
  }
  .comments__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
