.contacts {
  padding-top: 42px;
  display: flex;
  flex-direction: column;
}

.contacts__title {
  .stylenone();
  .font (18px; 30px; 700);
}

.contacts__table {
  display: flex;
  flex-direction: column;
  .stylenone();
  margin-bottom: 40px;
}

.contacts__wrapper {
  display: flex;
  width: 260px;
  box-sizing: border-box;
}

.contacts__adress {
  .stylenone();
  .font (15px; 30px; 400);
  color: @blacklight;
  padding-top: 27px;
}

.contacts__adress--underline {
  border-bottom: 1px solid @green;

  &:hover,
  &:focus {
    color: @green;
  }

  &:active {
    color: @green;
    opacity: 0.5;
  }
}

.contacts__adress-name {
  .stylenone();
  .font (15px; 30px; 400);
  vertical-align: top;
  color: @blacklight;
  padding-top: 27px;
  padding-right: 30px;
}

.contacts__map {
  border: none;
  margin-left: -30px;
  margin-right: -30px;
}

.contacts__button {
  .font (18px; 20px; 700);
  margin-bottom: 40px;
  margin-top: 35px;
}

@media (min-width: @tablet-width) {
  .contacts {
    padding-top: 65px;
  }

  .contacts__title {
    .font (43px; 50px; 700);
    padding-bottom: 20px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 46px;
      height: 81px;
      right: 3px;
      bottom: 5px;
      background-image: url("../img/icon-flag.svg");
    }
  }

  .contacts__table {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 58px;
  }

  .contacts__adress-name {
    padding-right: 22px;
    .font (17px; 30px; 400);
  }

  .contacts__adress {
    .font (17px; 30px; 400);
  }

  .contacts__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-right: 35px;
    width: 334px;
    box-sizing: border-box;
  }

  .contacts__hidden {
    display: none;
  }

  .contacts__button {
    width: 230px;
    box-sizing: border-box;
    margin-left: 219px;
    margin-bottom: 57px;
    margin-top: 55px;
  }

  .contacts__map {
    margin-left: -50px;
    margin-right: -50px;
    border: none;
    width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    padding-top: 85px;
    padding-left: 175px;
    position: relative;
    margin-bottom: 105px;
  }

  .contacts__title {
    .font (53px; 57px; 700);
    padding-top: 53px;

    &::after {
      content: "";
      position: absolute;
      width: 46px;
      height: 82px;
      left: -115px;
      bottom: 6px;
      background-image: url("../img/icon-flag.svg");
    }
  }

  .contacts__table {
    display: flex;
    flex-direction: column;
    margin-right: 150px;
    margin-bottom: 82px;
    margin-top: 0;
  }

  .contacts__map {
    margin: 0;
    position: absolute;
    width: 525px;
    height: 460px;
    box-sizing: border-box;
    top: 65px;
    right: 0;
  }

  .contacts__button {
    width: 232px;
    box-sizing: border-box;
    margin: 0;
  }
}
