.contacts__title {
  .stylenone();
  .font (18px; 30px; 700);
  .margin();
}
.contacts__table {
  .stylenone();
  margin-bottom: 40px;
  .margin();
}
.contacts__adress {
  .stylenone();
  .font (15px; 30px; 400);
  color: @blacklight;
  padding-top: 30px;
}
.contacts__adress--underline {
  border-bottom: 2px solid @green;
}
.contacts__adress-name {
  .stylenone();
  .font (15px; 30px; 400);
  width: 75px;
  vertical-align: top;
  color: @blacklight;
  padding-top: 30px;
}
.contacts__button {
  .margin();
  margin-bottom: 40px;
  margin-top: 40px;
}
