.footer {
  position: relative;
  background-color: @grey;
  padding-bottom: 30px;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  margin: 0 -30px;
}

.footer__logo {
  display: none;
}

@media (min-width: @tablet-width) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 50px;
    padding-top: 50px;
    margin: 0 -50px;
  }

  .footer__logo {
    display: block;
    padding-left: 50px;

    &:hover,
    &:focus {
      fill: @green;
    }

    &:active {
      fill: @green;
      opacity: 0.5;
    }
  }
}

@media (min-width: @desktop-width) {
  .footer {
    margin: 0 -50px;
  }

  .footer__logo {
    display: block;
    padding-left: 50px;
  }
}
