.full-name {
  padding-top: 9px;
  margin-bottom: 5px;
}

.full-name__block {
  padding-top: 21px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 24px;
    right: 0;
    bottom: 5px;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    transform: scale(0.7);
    opacity: 0.5;
    filter: saturate(0);
  }

  &:hover::after,
  &:focus::after,
  &:active::after {
    filter: saturate(2);
  }
}

.full-name__title {
  width: 100%;
}

.full-name__name {
  border: none;
  padding: 15px 0;
  border-bottom: 2px solid black;
  width: 100%;
  position: relative;

  &:hover,
  &:focus,
  &:active {
    border-bottom: 2px solid @green;
  }
}

@media (min-width: @tablet-width) {
  .full-name {
    padding-top: 65px;
    margin-bottom: 0;
  }

  .full-name__title {
    width: auto;
  }

  .full-name__block {
    display: flex;
    width: 100%;
    padding-top: 0;
    padding-bottom: 43px;
  }

  .full-name__name {
    margin-left: 30px;
    padding: 0 0 12px 15px;
    border-bottom: 2px solid black;
    width: auto;
    flex-grow: 2;
  }
}

@media (min-width: @desktop-width) {
  .full-name {
    margin-right: 175px;
  }
}
