.order-knitting {
  margin-bottom: 25px;
}

.order-knitting__fon {
  background-color: @grey;
}

.order-knitting__title {
  .stylenone();
  background-color: @grey;
  padding: 74px 30px;
  .fonttitle();
}

.order-knitting__text {
  .stylenone();
  .margin();
  .font (13px; 24px; 400);
  padding-top: 28px;
}
