.page-header {
  position: relative;
  .stylenone();
  padding-top: 22px;
  padding-bottom: 19px;
}

.page-header__logo {
  width: 90px;
  display: flex;
  margin: 0 auto;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.4;
  }
}

.page-header__logo-tablet,
.page-header__logo-desktop {
  display: none;
}

.page-header__list {
  .stylenone();
}

.page-header__toggle {
  display: none;
  position: absolute;
  top: 31px;
  right: 0;

  &--close {
    display: none;
    position: absolute;
    top: 31px;
    right: 0;
  }
}

.page-header__site-list {
  .stylenone();
  display: block;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 75px;
  border-bottom: 2px solid @grey;
  margin-right: -30px;
  margin-left: -30px;

  &--order1 {
    margin-top: 30px;
    border-top: 2px solid @grey;
  }

  &--order3 {
    position: relative;
  }

  &--order4 {
    border-bottom: none;
    padding-bottom: 8px;
    position: relative;
  }

  &--order5,
  &--order6,
  &--order7 {
    display: none;
  }
}

.page-header__search,
.page-header__cart {
  position: absolute;
  top: 27px;
  left: 30px;
  opacity: 0.3;
}

.page-header__link {
  .font (17px; 24px; 700);

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.4;
  }

  &--desktop,
  &--tablet {
    display: none;
  }

  &--search:hover .page-header__search,
  &--basket:hover .page-header__cart,
  &--search:focus .page-header__search,
  &--basket:focus .page-header__cart {
    fill: @green;
    opacity: 1;
  }

  &--search:active .page-header__search,
  &--basket:active .page-header__cart {
    fill: @green;
    opacity: 0.3;
  }
}

.page-header__link-hidden {
  margin-top: 0;
  margin-bottom: 0;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.4;
  }
}

.page-header__menu--close {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 0;
  }

  .page-header__logo {
    padding-right: 27%;
    width: 43%;
    box-sizing: border-box;
    margin: 0;
    display: block;
    order: 0;
    padding-left: 0;
  }

  .page-header__logo-mobile {
    display: none;
  }

  .page-header__logo-tablet {
    display: block;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__site-list {
    display: block;
    border-bottom: none;
    padding: 5px 20px 49px 20px;
    margin: 0;

    &--order1 {
      border: none;
      order: 3;
      padding-right: 25px;
      padding-left: 0;
    }

    &--order2 {
      order: 4;
      padding-right: 30px;
      padding-left: 0;
    }

    &--order3 {
      order: 1;
      height: 17px;
      width: 17px;
      margin-top: -22px;
      padding: 35px 32px;
      border-left: 1px solid @grey;
      border-right: 1px solid @grey;
    }

    &--order4 {
      padding-top: 10px;
      padding-bottom: 44px;
      padding-left: 50px;
      padding-right: 0;
      order: 2;
    }

    &--order7 {
      order: 5;
      padding-left: 90px;
      padding-right: 0;
    }

    &--order5,
    &--order6 {
      display: none;
    }
  }

  .page-header__link {
    .font (15px; 24px; 700);

    &--basket {
      .font (17px; 24px; 700);
    }

    &--tablet {
      .font (15px; 24px; 400);
      display: block;
    }
  }

  .page-header__link-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .page-header__search {
    position: static;
  }

  .page-header__cart {
    left: 0;
    top: 12px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    padding: 0;
  }

  .page-header__logo {
    width: auto;
    padding-right: 80px;
    padding-left: 0;
    padding-top: 8px;
    padding-bottom: 0;
    order: 3;
  }

  .page-header__logo-mobile,
  .page-header__logo-tablet {
    display: none;
  }

  .page-header__logo-desktop {
    display: block;
  }

  .page-header__link {
    .font (17px; 24px; 700);

    &--desktop {
      display: block;
      .font (15px; 24px; 700);
    }

    &--tablet {
      display: block;
      .font (15px; 24px; 400);
    }
  }

  .page-header__site-list {
    margin: 0;
    padding: 0;
    padding-top: 17px;
    padding-bottom: 0;

    &--order1 {
      padding-top: 30px;
      padding-right: 35px;
      order: 0;
      border-right: 2px solid @grey;
    }

    &--order2 {
      order: 0;
      padding-top: 30px;
      padding-right: 60px;
      padding-left: 18px;
    }

    &--order3 {
      order: 4;
      padding-top: 30px;
      padding-bottom: 42px;
      padding-right: 33px;
      padding-left: 33px;
    }

    &--order4 {
      padding-left: 70px;
      padding-top: 30px;
      order: 5;
    }

    &--order5 {
      display: block;
      order: 6;
    }

    &--order6 {
      display: block;
      order: 7;
      padding-right: 440px;
    }

    &--order7 {
      order: 8;
    }
  }

  .page-header__search {
    position: absolute;
    top: 35px;
    left: 33px;
  }

  .page-header__cart {
    left: 15px;
    top: 33px;
  }
}
