.popular-product {
  padding: 30px;
}
.popular-product__header {
  .stylenone();
  .fonttitle();
}
.popular-product__time {
  .stylenone();
  .font (17px; 20px; 700);
  color: @green;
  text-transform: uppercase;
}
.popular-product__description {
  .stylenone();
  .font (15px; 24px; 400);
  color: @blacklight;
  padding-top: 30px;
  padding-bottom: 30px;
}
.popular-product__property {
  border-collapse: collapse;
  margin-bottom: 28px;
  color: @blacklight;
}
.popular-product__string {
  border-bottom: 1px solid @grey;
  padding: 12px 23px 12px 0;
}
.popular-product__price {
  .stylenone();
  .font (17px; 24px; 700);
  color: @blacklight;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}
