.production-process {
  &:hover,
  &:focus {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.1);
  }
}

.production-process__wrapper {
  width: 262px;
  box-sizing: border-box;
  border: 1px solid @grey;
  margin-bottom: 60px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 77px;
    left: 80px;
    top: 132px;
    background-image: url("../img/icon-play.svg");
    background-repeat: no-repeat;
  }
}

.production-process__wrapper:hover::before,
.production-process__wrapper:focus::before {
  transform: scale(1.2);
}

.production-process__wrapper:active::before {
  transform: scale(0.8);
  opacity: 0.5;
}

.production-process__title {
  .stylenone();
  .font (17px; 24px; 700);
  padding-top: 25px;
  padding-left: 90px;
  margin-bottom: 25px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    left: 33px;
    bottom: 10px;
    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
  }
}

.production-process__text {
  .stylenone();
  .font (13px; 24px; 400);
  padding: 25px 40px 25px 33px;
  color: @blacklight;
}

.production-process__button {
  width: 191px;
  .font (17px; 17px; 700);
  box-sizing: border-box;
  padding-bottom: 16px;
  margin-left: 33px;
  margin-right: 33px;
  margin-bottom: 32px;
}

@media (min-width: @tablet-width) {
  .production-process {
    margin-bottom: 65px;
    width: 668px;
    box-sizing: border-box;
  }

  .production-process__wrapper {
    border: none;
    display: flex;
    flex-direction: column;

    &::before {
      left: 282px;
      top: 190px;
    }
  }

  .production-process__title {
    width: 668px;
    box-sizing: border-box;
    .font (20px; 24px; 700);
    padding-left: 106px;
    margin: 0;
    padding-bottom: 15px;
    padding-top: 38px;
    border-top: 1px solid @grey;
    border-right: 1px solid @grey;
    border-left: 1px solid @grey;

    &::before {
      left: 40px;
      bottom: 10px;
    }
  }

  .production-process__container {
    width: 668px;
    box-sizing: border-box;
    border-right: 1px solid @grey;
    border-left: 1px solid @grey;
    border-bottom: 1px solid @grey;
  }

  .production-process__text {
    .font (15px; 30px; 400);
    padding: 15px 40px 37px 38px;
  }

  .production-process__button {
    width: 585px;
    box-sizing: border-box;
    margin-left: 42px;
    margin-right: 42px;
    margin-bottom: 44px;
  }

  .production-process__img-conteiner {
    display: block;
    order: -1;
    width: 668px;
    height: 455px;
  }
}

@media (min-width: @desktop-width) {
  .production-process {
    position: relative;
    margin-bottom: 105px;
    width: 368px;
    padding-left: 680px;

    &::before {
      content: "";
      position: absolute;
      width: 100px;
      height: 77px;
      left: 290px;
      top: 190px;
      background-image: url("../img/icon-play.svg");
      background-repeat: no-repeat;
      z-index: 2;
    }
  }

  .production-process__wrapper {
    display: block;
    width: auto;
    border: none;
    margin: none;
    position: static;

    &::before {
      display: none;
    }
  }

  .production-process__title {
    width: 370px;
    .font (20px; 24px; 700);
    margin: 0;
    padding-top: 95px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 34px;

    &::before {
      left: 80px;
      top: 40px;
    }
  }

  .production-process__container {
    width: 370px;
    box-sizing: border-box;
    border-right: 1px solid @grey;
    border-left: 1px solid @grey;
    border-bottom: 1px solid @grey;
  }

  .production-process__text {
    .font (15px; 30px; 400);
    padding: 0;
    padding-bottom: 45px;
    padding-left: 80px;
  }

  .production-process__button {
    width: 230px;
    box-sizing: border-box;
    margin-left: 80px;
    margin-right: 60px;
    margin-bottom: 60px;
  }

  .production-process__img-conteiner {
    position: absolute;
    top: 0;
    left: 0;
  }
}
