.production-process {
  width: 260px;
  box-sizing: border-box;
  border: 1px solid @grey;
  margin-bottom: 60px;
}

.production-process__title {
  .stylenone();
  .font (17px; 24px; 700);
  padding-top: 20px;
  padding-left: 90px;
  margin-bottom: 25px;
}

.production-process__text {
  .stylenone();
  .font (13px; 24px; 400);
  padding: 25px 40px 25px 33px;
  color: @blacklight;
}

.production-process__button {
  width: 191px;
  .font (17px; 17px; 700);
  box-sizing: border-box;
  padding-bottom: 16px;
  margin-left: 33px;
  margin-right: 33px;
  margin-bottom: 32px;
}

.production-process__img-tablet,
.production-process__img-desktop {
  display: none;
}

@media (min-width: @tablet-width) {
  .production-process {
    display: flex;
    flex-direction: column;
  }

  .production-process__title {
    .font (20px; 24px; 700);
    padding-left: 106px;
    margin-bottom: 35px;
    margin-top: 40px;
  }

  .production-process__text {
    .font (15px; 24px; 400);
    padding: 0 40px 40px 40px;
  }

  .production-process__button {
    width: 585px;
    box-sizing: border-box;
    margin-left: 42px;
    margin-right: 42px;
    margin-bottom: 46px;
  }

  .production-process__img-mobile {
    display: none;
  }

  .production-process__img-tablet, {
    display: block;
    order: -1;
  }
}

@media (min-width: @desktop-width) {
  .production-process {
    position: relative;
    padding-left: 700px;
    margin-bottom: 105px;
  }

  .production-process__title {
    .font (20px; 24px; 700);
    margin: 0;
    padding-top: 95px;
    padding-left: 60px;
    padding-bottom: 40px;
  }

  .production-process__text {
    .font (15px; 30px; 400);
    padding: 0;
    padding-bottom: 55px;
    padding-left: 60px;
  }

  .production-process__button {
    width: 230px;
    box-sizing: border-box;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 65px;
  }

  .production-process__img-tablet {
    display: none;
  }

  .production-process__img-desktop, {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
}
