.product-category {
  position: relative;
  margin-right: -30px;
  margin-left: -30px;
}

.product-category__header {
  background-color: #f9f9f9;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 20%;
  height: 283px;
  width: 100%;
}

.product-category__title {
  .stylenone();
  .font (27px; 30px; 700);
  padding-top: 75px;
  padding-bottom: 120px;
  text-align: center;
}

.product-category__interior {
  background-color: @green;
}

.product-category__text {
  .stylenone();
  .font (19px; 24px; 700);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  color: white;
}

.product-category__toys {
  background-color: @greendark;
}

@media (min-width: @tablet-width) {
  .product-category {
    position: relative;
    margin-right: -50px;
    margin-left: -50px;
  }

  .product-category__header {
    background-image: none;
    background-color: transparent;
    height: auto;
  }

  .product-category__wrapper {
    display: flex;
    justify-content: stretch;
    padding-right: 50px;
    padding-left: 50px;
  }

  .product-category__interior,
  .product-category__toys {
    min-height: 120px;
  }

  .product-category__title {
    .font (43px; 50px; 700);
    padding-top: 45px;
    padding-bottom: 370px;
  }

  .product-category__text {
    .font (20px; 30px; 700);
    padding: 30px 180px 30px 33px;
  }

  .product-category__header {
    background-image: none;
    background-color: transparent;
    height: auto;
  }

  .product-category__link {
    width: 334px;
    box-sizing: border-box;
    flex-grow: 1;
  }

  .product-category__img {
    display: block;
    position: absolute;
    top: -110px;
    height: 746px;
    width: 100%;
    z-index: -1;
    background-color: #f9f9f9;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 40%;
  }
}

@media (min-width: @desktop-width) {
  .product-category {
    margin-right: -100px;
    margin-left: -100px;
  }

  .product-category__wrapper {
    padding-right: 100px;
    padding-left: 100px;
  }

  .product-category__interior,
  .product-category__toys {
    min-height: 120px;
  }

  .product-category__title {
    .font (53px; 57px; 700);
    padding-top: 90px;
    padding-bottom: 350px;
  }

  .product-category__text {
    .font (20px; 30px; 700);
    padding: 30px 350px 30px 35px;
  }

  .product-category__header {
    background-image: none;
    background-color: transparent;
    height: auto;
  }

  .product-category__link {
    width: 525px;
    box-sizing: border-box;
  }

  .product-category__img {
    display: block;
    position: absolute;
    top: -75px;
    height: 746px;
    width: 100%;
    z-index: -1;
    background-color: #f9f9f9;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 40%;
  }
}
