.social {
  border-bottom: 1px solid #e5e5e5;
  margin: 0 30px;
  padding: 0 40px;
}

.social__item {
  .stylenone();
  position: relative;
  padding-top: 10px;
  padding-bottom: 40px;
  padding-right: 10px;
  padding-left: 10px;
}

.social__list {
  .stylenone();
  display: flex;
  justify-content: space-around;
}

.social__link {
  &:hover,
  &:focus {
    fill: @green;
  }

  &:active {
    fill: @green;
    opacity: 0.5;
  }
}

.social__link--instagram::before {
  content: "";
  position: absolute;
  left: -2px;
  bottom: 30px;
  width: 21px;
  height: 21px;
}

.social__link--facebook::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 30px;
  width: 14px;
  height: 27px;
}

.social__link--twitter::before {
  content: "";
  position: absolute;
  left: -4px;
  bottom: 30px;
  width: 23px;
  height: 20px;
}

@media (min-width: @tablet-width) {
  .social {
    border: none;
    margin: 0;
    padding: 0;
    padding-left: 120px;
  }

  .social__item {
    padding: 30px 0 0 60px;
  }

  .social__link--instagram::before {
    bottom: -4px;
  }

  .social__link--facebook::before {
    bottom: -4px;
  }

  .social__link--twitter::before {
    bottom: -4px;
  }
}
