.type__item {
  .stylenone();
  padding-top: 20px;
  padding-right: 30px;
}

.type__name {
  .stylenone();
}

.type__input {
  .stylenone();
}

@media (min-width: @tablet-width) {
  .type__item {
    width: 500px;
  }
}
