.type {
   padding-top: 8px;
   padding-bottom: 43px;
   position: relative;
}
.type__item {
  .stylenone();
  padding-top: 25px;
  padding-left: 62px;
}

.type__name {
  .stylenone();
}

.type__input {
  .stylenone();
}

@media (min-width: @tablet-width) {
  .type__item {
    width: 500px;
  }
}
